$submit = $_POST['submit'];
$answer = "8";
$input = strip_tags($_POST['input']);
if ($submit){ 
    if ($input==$answer){
        echo "Correct";
    }
else
    echo "wrong";
.wrong {      
margin-top: 5px;       
padding: 5px;    
background-color:rgb(114, 114, 113);   
border: 2px solid #ffffff;    
width:auto;
color: #000000;   
}
