body{
    font-style: italic;
    font-size: large;
    margin-top: 5px;       
    padding: 5px;    
    background-color: lightskyblue;
    color: #000000;   
    text-align: center;
}
.form{
    text-align: center;
    width: 500px;
    border: 2px solid #fff;
    margin:auto;
    border-radius: 15px;

}