body{
  margin: 0;
  padding: 0;
  height: 94vh;
  background-color: aquamarine;
  font-family: 'Roboto', sans-serif;
  font-size: larger;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: blue;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

main div{
  padding: 40px;
  display: flex;
  gap: 25px;
  width: 70%;
  background-color: gray;
  overflow-x: scroll;
}

main div::-webkit-scrollbar{
  height: 7px;
}

main div::-webkit-scrollbar-thumb{
  background-color: black;
  border-radius: 5px;
}

main div picture{
  padding: 15px;
  background-color: gray;
  border-radius: 15px;
}

main div picture img{
  border-radius: 10px 10px 0 0;
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}

main div picture:hover, main div picture:focus{
  transform: scale(1.1);
  transition: ease 0.5s;
}

figcaption{
  text-align: center;
}

